/*--------------
    username
--------------*/

#custom-user {
    padding-right: 10px;
}

/*----------------
    workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
    color: @workspaces;
}
#workspaces {
    padding: 0;
    background-color: @workspaces;
}
#workspaces button.active label,
#workspaces button.focused label {
    color: @accent;
}

/*----------------
    workspace dots
----------------*/
#workspaces button {
    padding: 0 4px;
    margin: 0;
}

/*------------------
    window title
------------------*/

#window {
    margin-left: 10px;
}
