/* ignore GTK theme */
* {
    all: initial;
}

#custom-privacy-dots {
    padding: 0 10px;
    font-size: 12px;
    letter-spacing: 3px;
}

@import "current-theme.css";
@import "styles/fonts.css";
@import "styles/global.css";
@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";
