* {
    background-image: none;
    box-shadow: none;
    font-size: 12px;
}

window {
    background-color: transparent;
}

button {
    border-radius: 0;
    text-decoration-color: #ffffff;
    color: #ffffff;
    background-color: #252525;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    box-shadow: none;
    text-shadow: none;
}

button:focus {
    background-size: 30%;
    background-color: #353535;
}

button:hover {
    background-size: 35%;
    background-color: #e8e8e8;
    /* transition: background-size 0.3s cubic-bezier(0.55, 0, 0.28, 1.682); */
    color: #1a1a1a;
}

button:hover#lock {
    background-color: #e8e8e8;
    background-image: image(url("./icons/lock_black.png"));
    margin: -30px 0 -30px 0;
    transition: margin 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#logout {
    background-image: image(url("./icons/logout_black.png"));
    margin: -30px 0 -30px 0;
    transition: margin 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#suspend {
    background-image: image(url("./icons/hibernate_black.png"));
    margin: -30px 0 -30px 0;
    transition: margin 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#reboot {
    background-image: image(url("./icons/reboot_black.png"));
    margin: -30px 0 -30px 0;
    transition: margin 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#shutdown {
    background-image: image(url("./icons/shutdown_black.png"));
    margin: -30px 0 -30px 0;
    transition: margin 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

#lock {
    background-image: image(url("./icons/lock_white.png"));
    background-color: #252525;
}

#logout {
    background-image: image(url("./icons/logout_white.png"));
}

#suspend {
    background-image: image(url("./icons/hibernate_white.png"));
}

#reboot {
    background-image: image(url("./icons/reboot_white.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown_white.png"));
}
